@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: #E5E5E5;
    position: relative;
}


.sidebar {
    position: fixed;
    background: #fff;
    width: 15%;
    min-height: 100vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
}




.side-logo {
    width: 100%;
    padding-left: 5%;
    padding-top: 15px;
}
.side-logo img {
    width: 80%;
}
.side-form {
    position: relative;
    width: 85%;
    margin-bottom: 10px;
}


.nav-bar {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    width: calc(85% - 1px);
    background: #fff;
    height: 80px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    z-index: 999 !important;
    box-shadow: 2px 3px 4px #0000005c;
}
@media (max-width:1008px){
    .nav-bar {
        flex-direction: column;
        height: 80px;
    }
}


.part:nth-child(2) {
    display: flex;
    gap: 18px;
}
.links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.links ul li {
    border-radius: 3px;
    height: 36px;
    border-radius: 2px;
    padding: 6px 15px 6px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.2s;
}
.links ul li:hover, .links ul li:focus, .links ul li.active {
    background: #CCEAFD !important;
    color: #0094F5 !important;
}

.link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.link1 a {
    background: #053680;
    text-decoration: none;
    color: #fff;
    padding: 7px 16px;
    border-radius: 2px;
}
.link1 i {
    padding-left: 10px;
}
.part .link2 {
    font-weight: 500;
    font-size: 14px;
    line-height:  171%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.part .link2 a {
    border: 1px solid black;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 6px 20px;
    border-radius: 2px;
}




.input-section {
    padding: 10px 0;
}
.input-section .label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 183%;
    text-transform: uppercase;
    color: #7B7B7B;
    padding: 10px 0;
}


.side-container {
    width: 25%;
    height: 300px;
    float: right !important;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideCard {
    background: white;
    padding: 15px;
    border-radius: 4px;
}

.cardTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #474747;
    padding-bottom: 5px;
}
.cardBody {
    border-top: 0.5px solid rgba(170, 170, 170, 0.616);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
.subCard {
    display: flex;
    justify-content: space-between;
}
.subCard .image {
    width: 70px;
    object-fit: cover;
    height: 70px;
    border-radius: 3px;
    overflow: hidden;
}
.subCard .image img {
    width: 100%;
    object-fit: cover;
}
.subCard .body {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.subCard .body .name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #474747;
}
.subCard .body .institute {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #959393;
}
.subCard .body .email {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #474747;
}


.main-container {
    float: right !important;
    position: relative;
    width: 85%;
    height: auto;
    margin-top: 80px;
}
.mid-container {
    width: 75%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
select {
    font-family: 'Poppins' !important;
    background: #ffffff;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    transition: 0.2s;
}
select option:hover {
    background: white;
}

.banner-container {
    width: 100%;
    aspect-ratio: 4;
    position: relative;
    width: 100%;
}
.bi1 {
    background: linear-gradient(90.27deg, #053680 35.3%, rgba(5, 54, 128, 0) 99.22%), url(./pics/banner.png);
}
.bi2 {
    background: linear-gradient(90.27deg, #053680 35.3%, rgba(5, 54, 128, 0) 99.22%), url(./banner2.png);
}
.bannerImage {
    background-size: cover !important;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.bannerImage .title {
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    
}
.searchBox .searchForm {
    display: flex;
    gap: 10px;
}
.searchBox .searchForm input
{
    padding: 5px;
    height: 40px;
    width: 350px;
    font-size: 12px;
}
.searchBox .searchForm button {
    padding: 0 20px;
    height: 40px;
    cursor: pointer;
    background: #3AA2F8;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: white;
}







.longCard {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.longCard .title {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #1D1E20;
    padding: 5px 0;
}
.longCard .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.longCard .items .item {
    width: 24%;
}
.item .image {
    aspect-ratio: 1.88;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
}
.item .image img {
    width: 100%;
}
.item .des {
    font-size: 1vw;
    padding: 4px 0;
}
.longCard div .button {
    padding: 5px 15px;
    border-radius: 3px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.253);
}




/*INFOS*//*INFOS*//*INFOS*//*INFOS*//*INFOS*//*INFOS*/
.infos {
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 5px;
}
.infos .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.infos .info .icon {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50px;
    display: grid;
    place-items: center;
}
.infos .info .basic {
    display: flex;
    flex-direction: column;
}
.infos .info .icon i {
    color: white;
}
.infos .info .basic h1 {
    font-size: 2vw;
}
.infos .info .basic p {
    font-size: 1vw;
}
.split {
    width: 1px;
    height: inherit;
    background: #B1B1B166;
}
/*INFOS*/
/*INFOS*//*INFOS*//*INFOS*//*INFOS*//*INFOS*//*INFOS22222222222222222*/
.infos2 {
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px 5px;
}
.infos2 .info2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6.4);
}


.infos2 .info2 .icon {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 70px;
    display: grid;
    font-size: 40px;
    place-items: center;
}
.infos2 .info2 .basic {
    display: flex;
    flex-direction: column;
}
.infos2 .info2 .icon i {
    color: white;
}
.infos2 .info2 .basic h1 {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-weight: 550;
}
.infos2 .info2 .basic p {
    font-size: 12px;
    color: #959393;
    font-weight: 300;
    text-align: center;
    line-height: 167%;
}
.split {
    width: 1px;
    height: inherit;
    background: #B1B1B166;
}
/*INFOS*/

.mainCard {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 24%;
    padding: 10px 0;
}
.cardHead {
    border-radius: 3px;
    font-size: 14px;
    padding: 2px 5px;
}
.cardMid {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
}
.cardFoot {
    display: flex;
    font-size: 10px;
    gap:5px;
    justify-content: space-between;
}
.cardFoot span {
    white-space: nowrap;
    background: #E9EAEE;
    padding: 1px;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    flex-wrap: wrap;
}


/*FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/

.footer {
    position: relative;
    background: #ffffff;
    padding: 30px;
    width: 100%;
    bottom: 0;
    float: inline-end;
    display: flex;
    justify-content: center;
    gap: 50px;
    box-shadow: 1px 3px 4px grey;
}

.footer .part {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer .part:nth-child(1) {
    flex-direction: column;
}
.footer .part:nth-child(2) {
    flex-direction: row;
}
.updown {
    flex-direction: column;
    gap: 5px !important;
    justify-content: flex-start !important;
    align-items: flex-start;
}


.part ul {
    list-style: none;
}
.part ul li a {
    text-decoration: none;
    color: #1D1E20;
}
.part ul li a:hover {
    color: #3AA2F8;
}


.part .title {
    font-size: 18px;
}
.part h3 {
    font-size: 16px;
}
.links {
    display: flex;
    font-size: 25px;
    gap: 20px;
}
.links ion-icon {
    cursor: pointer;
}
.links ion-icon:hover {
    color: rgb(49, 136, 207);
}
.searchBox .searchForm.foot input {
    padding: 5px;
    height: 40px;
    width: 250px;
    font-size: 12px;
}
.searchBox .searchForm.foot button {
    padding: 0 20px;
    height: 40px;
    cursor: pointer;
    background: #3AA2F8;
    border: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: white;
}



/*FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/




.bgPurple {
    background: #8490FF;
}
.bgOrange {
    background: #FFBF84;
}
.bgViolet {
    background: #BA84FF;
}
.bgLime {
    background: #9FD69E;
}
.bgYellow {
    background: #FFE76D;
}
.bgSky {
    background: #92DEFF;
}
.bgLimeGreen {
    background: #C7FF9A;
}
.bgPink {
    background: #FF84A1;
}
.bgYellow {
    background: #DED580;
}
.bgSecondary {
    background: #3F95E1 !important;
}