@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background: #E5E5E5;
}

.fixed-components {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 999;
}

.sidebar {
    background: #fff;
    min-width: 200px;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}




.side-logo {
    width: 100%;
    padding-left: 5%;
    padding-top: 15px;
}
.side-logo img {
    width: 80%;
}
.side-form {
    position: relative;
    width: 80%;
    margin-bottom: 10px;
}


.nav-bar {
    display: flex;
    width: 79.9%;
    background: #fff;
    height: 96.63px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    z-index: 999 !important;
}
@media (max-width:1008px){
    .nav-bar {
        flex-direction: column;
        width: calc(100% - 201px);
    }
}


.part:nth-child(2) {
    display: flex;
    gap: 18px;
}
.links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.links ul li {
    border-radius: 3px;
    height: 36px;
    border-radius: 2px;
    padding: 6px 15px 6px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.2s;
}
.links ul li:hover, .links ul li:focus, .links ul li.active {
    background: #CCEAFD !important;
    color: #0094F5 !important;
}

.part .link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.part .link1 a {
    background: #053680;
    text-decoration: none;
    color: #fff;
    padding: 7px 16px;
    border-radius: 2px;
}
.part .link1 i {
    padding-left: 10px;
}
.part .link2 {
    font-weight: 500;
    font-size: 14px;
    line-height:  171%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.part .link2 a {
    border: 1px solid black;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 6px 20px;
    border-radius: 2px;
}




.input-section {
    padding: 10px 0;
}
.input-section .label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 183%;
    text-transform: uppercase;
    color: #7B7B7B;
    padding: 10px 0;
}


.side-container {
    width: 27%;
    height: 300px;
    float: right !important;
    padding-right: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sideCard {
    background: white;
    padding: 15px;
    border-radius: 4px;
}

.cardTitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #474747;
    padding-bottom: 5px;
}
.cardBody {
    border-top: 0.5px solid rgba(170, 170, 170, 0.616);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
.subCard {
    display: flex;
    justify-content: space-between;
}
.subCard .image {
    width: 70px;
    object-fit: cover;
    height: 70px;
    border-radius: 3px;
    overflow: hidden;
}
.subCard .image img {
    width: 100%;
    object-fit: cover;
}
.subCard .body {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.subCard .body .name {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #474747;
}
.subCard .body .institute {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    color: #959393;
}
.subCard .body .email {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: #474747;
}


.main-container {
    width: 80%;
    height: 1200px;
    margin: 0 20%;
    margin-top: 96.63px;
}
.mid-container {
    width: 73%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
select {
    font-family: 'Poppins' !important;
    background: #ffffff;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
    transition: 0.2s;
}
select option:hover {
    background: white;
}

.banner-container {
    width: 100%;
    aspect-ratio: 4;
    position: relative;
    width: 100%;
}
.bi1 {
    background: linear-gradient(90.27deg, #053680 35.3%, rgba(5, 54, 128, 0) 99.22%), url(./pics/banner.png);
}
.bi2 {
    background: linear-gradient(90.27deg, #053680 35.3%, rgba(5, 54, 128, 0) 99.22%), url(./banner2.png);
}
.bannerImage {
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

.bannerImage .title {
    color: #fff;
}

.longCard {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}
.longCard .title {
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #1D1E20;
    padding: 5px 0;
}
.longCard .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.longCard .items .item {
    width: 24%;
}
.item .image {
    aspect-ratio: 1.88;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.item .image img {
    width: 100%;
}
.item .des {
    font-size: 1vw;
    padding: 4px 0;
}
.longCard div .button {
    padding: 5px 15px;
    border-radius: 3px;
    background: white;
    border: 1px solid black;
}




/*INFOS*//*INFOS*//*INFOS*//*INFOS*//*INFOS*//*INFOS*/
.infos {
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 30px 5px;
}
.infos .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.infos .info .icon {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50px;
    display: grid;
    place-items: center;
}
.infos .info .basic {
    display: flex;
    flex-direction: column;
}
.infos .info .icon i {
    color: white;
}
.infos .info .basic h1 {
    font-size: 2vw;
}
.infos .info .basic p {
    font-size: 1vw;
}
.split {
    width: 1px;
    height: inherit;
    background: #B1B1B166;
}
/*INFOS*/








.bgPurple {
    background: #8490FF;
}
.bgOrange {
    background: #FFBF84;
}
.bgPink {
    background: #BA84FF;
}
.bgLime {
    background: #9FD69E;
}