@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body {
    background: #E5E5E5;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background: #fff;
    min-width: 200px;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.side-logo {
    width: 100%;
    border: 1px solid black;
    padding-left: 5%;
}
.side-logo img {
    width: 80%;
    border: 1px solid black;
}


.nav-bar {
    display: flex;
    width: 79.9%;
    background: #fff;
    height: 96.63px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}
.part:nth-child(2) {
    display: flex;
    gap: 18px;
}
.links ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.links ul li {
    border-radius: 3px;
    height: 36px;
    border-radius: 2px;
    padding: 6px 15px 6px 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    transition: 0.2s;
}
.links ul li:hover, .links ul li:focus, .links ul li.active {
    background: #CCEAFD !important;
    color: #0094F5 !important;
}

.part .link1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.part .link1 a {
    background: #053680;
    text-decoration: none;
    color: #fff;
    padding: 7px 16px;
    border-radius: 2px;
}
.part .link1 i {
    padding-left: 10px;
}
.part .link2 {
    font-weight: 500;
    font-size: 14px;
    line-height:  171%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}
.part .link2 a {
    border: 1px solid black;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 6px 20px;
    border-radius: 2px;
}





.input-section .label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 183%;
    text-transform: uppercase;
    color: #7B7B7B;
    padding: 5px 0;
}